.anime-list{
    display: flex;
    height: 100%;
    width: 100%;
}

.anime-container{
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
}

.extrait{
    display: flex;
    height: 80vh;
    width: 100%;
    
}

.list{
    height: 80%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    box-shadow: 9px 5px 49px 68px rgba(0,0,0,1);
    -webkit-box-shadow: 9px 5px 49px 68px rgba(0,0,0,1);
    -moz-box-shadow: 9px 5px 49px 68px rgba(0,0,0,1);
}

.neon1{
    position: absolute;
    
}

.list-container{
    height: 98%;
    width: 95%;
    display: grid;
    grid-template-rows: repeat(6, 600px);
}

@media screen and (max-width: 968px) {
    .list-container{
        grid-template-rows: repeat(6, 300px);
    }
}