.img-container{
    display: flex;
    width: 100%;
    height: 100%;
    float: left;
}

.img-preview{
    display: flex;
    width: 50%;
    height: 50%;
    float: left;
}

.container-profile-image{
    display: flex;
    position: relative;
    height: 100%;
    width: 100%;
}

.container-profile-image2{
    display: flex;
    position: relative;
    height: 100%;
    width: 100%;
}
.container-cropper-image{
    display: flex;
    position: relative;
    height: 100%;
    width: 100%;
}