@font-face {
    src: url("../../../../../fonts/SF\ Fedora.ttf");
    font-family: "jojo1";
}

@font-face {
    src: url("../../../../../fonts/SF\ Fedora\ Outline.ttf");
    font-family: "jojo2";
}

@font-face {
    src: url("../../../../../fonts/SF\ Fedora\ Shadow.ttf");
    font-family: "jojo3";
}

@font-face {
    src: url("../../../../../fonts/SF\ Fedora\ Titles.ttf");
    font-family: "jojo4";
}

@font-face {
    src: url("../../../../../fonts/SF\ Fedora\ Titles\ Italic.ttf");
    font-family: "jojo5";
}

@font-face {
    src: url("../../../../../fonts/SF\ Fedora\ Titles\ Shadow.ttf");
    font-family: "jojo6";
}

@font-face {
    src: url("../../../../../fonts/SF\ Fedora\ Titles\ Shadow\ Italic.ttf");
    font-family: "jojo7";
}

:root {
    --cardWidth: 230px;
    --cardHeight: 310px;
    --cardMargin: 16px;
  }

.posters{
    --cardWidth: 230px;
    --cardHeight: 310px;
    --cardMargin: 16px;
  }

.card{
    height: 100%;
    width: auto;
}

.grid-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: "jojo3";
    color: white;
}

.grid-list-container{
    height: 100%;
    width: 100%;
    position: relative;;
}

.animation-gif{
    display: flex;
    justify-content: space-between;
    height: 50%;
    width: 100%;
    opacity: 1;
}

.genre-title{
    display: flex;
    height: auto;
    width: 100%;
    justify-content: flex-start;
}

.list-card{
    --spacer: 3rem;
    height: 65%;
    width: 95%;
    padding: 8rem var(--spacer) 0 var(--spacer);
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 12.9%;
    overflow: hidden;
    scroll-behavior: smooth;
    background: white;
    border-radius: 25px;
    border: 0px solid black;
    /*Mode Sombre !*//*opacity: 0.1;*/
    opacity: 1;
    box-shadow: rgb(38 57 77) 0px 20px 31px -10px, inset 0 97px 200px 35px #303b6a, inset 0 -46px 32px 32px #303b6a, rgb(19 186 203 / 30%) 0px 20px 44px, rgb(18 136 237 / 23%) 0px 23px 19px;
    border: 2px solid #303b6a;
}


.animation{
    position: absolute;
    height: 50%;
    width: 100%;
}

h1{
    margin-block-end: 0;
    margin-block-start: 0;
}

.grid-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    
}

.login-popup{
    width: 50%;
    height: 50%;
    border-radius: 15%;
    display: flex;
}

.card-container{
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 310px;
    box-sizing: border-box;
}

.card-info-content{
    display: flex;
    height: 100%;
    width: 100%;
}


.new-anime{
    position: absolute;
    display: flex;
    z-index: 8;
    height: 25%;
    width: 85%;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 6px;
    opacity: 0.7;
    right: 10%;
    top: 50%;
}

.new-ep{
    position: absolute;
    display: flex;
    z-index: 8;
    height: 25%;
    width: 85%;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-radius: 6px;
    opacity: 0.7;
    right: 5%;
    top: 50%;
}

.new-anime-mobile{
    position: absolute;
    display: flex;
    z-index: 50;
    height: 25%;
    width: 78%;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 6px;
    opacity: 0.7;
    right: 10%;
    top: 50%;
    font-size: 10px;
}

.new-ep-mobile{
    position: absolute;
    display: flex;
    z-index: 50;
    height: 25%;
    width: 78%;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-radius: 6px;
    opacity: 0.7;
    right: 10%;
    top: 50%;
    font-size: 10px;
}

.new-anime > h2{
    color: red;
}

.new-ep > h2{
    color: white;
}

.new-anime-mobile > h2{
    color: red;
    margin-left: 20%;
    padding-right: 20px;
}

.new-ep-mobile > h2{
    color: white;
    margin-left: 20%;
    padding-right: 20px;
}

.list-card > button{
    position: absolute;
    height: 310px;
    color: white; 
    background: "transparent";
    z-index: 2;
}

@media screen and (max-width: 968px) {
    .card{
        display: flex;
        height: 100%;
        width: 100%;
        margin-left: 15px;
    }

    .list-card{
        width: 80%;
        padding: 1rem var(--spacer) 2rem var(--spacer);
        grid-auto-columns: 40%;
        overflow-x: scroll;
        overflow-y: hidden;
        padding-left: 0;
    }

    .animation-gif{
        display: none;
    }

    .list-card::-webkit-scrollbar{
        display: none;
    }

    .card-container{
        height: 180px;
    }

    .list-card > button{
        display: none;
    }
    
}