.swiper > div:nth-child(3){
    display: flex;
    height: auto;
    width: auto;
    background-color: white;
    border: 2px cyan solid;
    border-radius: 15px;
    opacity: 0.8;
    margin-top: 20%;
}
