.animes-list{
    height: 150vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-container-anime{
    margin-top: 5%;
    height: 90%;
    width: 90%;
    justify-content: center;
    display: flex;
}

.layout-coontainer{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.grid-container{
    display: flex;
    width: 100%;
    height: 95%;
}

.container-layout{
    display: grid;
    grid-template-columns: repeat(5, 20%);
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.card-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 5%;
    margin-top: 8%;
    margin-right: 5%;
    margin-bottom: 8%;
    width: 90%;
    height: 90%;
}

.pagination-content{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
}

.pagination{
    display: flex;
    height: auto;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.filters{
    margin-top: 2%;
    display: flex;
    height: auto;
    width: 100%;
    background: white;
    border-radius: 15px;
}

.nextpage{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    right: 0;
    top: 50;
    bottom: 0;
    text-align: center;
    background: transparent;
    border-radius: 15px;
    border: 2px white solid;
    color: black;
}

.previouspage{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    top: 50;
    bottom: 0;
    text-align: center;
    background: transparent;
    border-radius: 15px;
    border: 2px white solid;
    color: black;
}
