
.display-ep-anime{
    position: relative;
    height: 100%;
    width: 50%;
    font-family: "jojo7";
    flex-direction: row;
    flex-flow: row;
    flex-wrap: wrap;
    background-color: rgb(0, 0, 0);
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    overflow-x: hidden;
}

.container-display{
    height: 100%;
    width: 100%;
    position: relative;
    flex-direction: column;
}

.container-title-anime{
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.container-background-image-anime{
    display: flex;
    height: 100%;
    width: auto;
}

.container-name-anime{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(20, 194, 150);
}

.container-info-anime{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    color: rgb(20, 194, 150);
}

.container-context-anime{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.container-desc-anime{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: rgb(20, 194, 150);
}

.container-moreinfo-anime{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    color: rgb(20, 194, 150);
}

.container-content-info-anime{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.container-saison-anime{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.container-vod-anime{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    color: rgb(20, 194, 150);
    margin-top: 10%;
    overflow-x: unset;
}

.container-episode-anime{
    display: flex;
    height: auto;
    width: 100%;
    justify-content: space-around;
    flex-direction: row;
    flex-flow: row;
    flex-wrap: wrap;
}

.vod-anime{
    width: auto;
    height: auto;
    flex-direction: column;
}

.vod-cards{
    border-radius: 2px;
    display: inline-block;
    height: 300px;
    margin: 1rem;
    position: relative;
    width: 300px;
}

.card-shadow:hover {
    box-shadow: 0 14px 28px rgba(255, 255, 255, 0.25), 0 10px 10px rgba(255, 255, 255, 0.22);
  }
  
.card-shadow {
    box-shadow: 0 3px 6px rgba(255, 255, 255, 0.16), 0 3px 6px rgba(255, 255, 255, 0.23);
}