@font-face {
    src: url("../../../../fonts/autoradiographic1.ttf");
    font-family: "autoradiographic1";
}

@font-face {
    src: url("../../../../fonts/autoradiographic2.ttf");
    font-family: "autoradiographic2";
}

.display-ep-anime{
    position: relative;
    height: 100%;
    width: 55%;
    font-family: "jojo5";
    flex-direction: row;
    flex-flow: row;
    flex-wrap: wrap;
    background-color: rgb(0, 0, 0);
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
::-webkit-scrollbar-track {
    background-color: rgb(196, 196, 196);
    border-radius: 10px;
  }
::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
  }

.container-display{
    height: 100%;
    width: 100%;
    position: relative;
    flex-direction: column;
}

.back{
    position: absolute;
    top: 0;
    z-index: 100;
    height: 5%;
    width: 100%;
    background-color: white;
    opacity: 0.5;
}

.back-container{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.back-container > button{
    width: 100%;
    color: black;
}

.container-title-anime{
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.container-background-image-anime{
    display: flex;
    height: 100%;
    width: auto;
}

.container-name-anime{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.info-anime{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

.container-info-anime{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 95%;
    height: auto;
    margin-top: 2%;
    color: white;
}

.container-context-anime{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.container-desc-anime{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: white;
}

.moreinfo-anime{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

.container-moreinfo-anime{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 95%;
    height: auto;
    color: white;
}

.container-content-info-anime{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.container-current-saison-anime{
    display: flex;
    height: auto;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.container-saison-anime{
    display: flex;
    height: auto;
    width: 20%;
    justify-content: center;
    align-items: center;
}

.container-other-saison-anime{
    display: flex;
    height: auto;
    width: 33%;
    justify-content: space-around;
    align-items: center;
}

.buttonGroup-saison{
    display: flex;
    height: auto;
    width: auto;
    margin-left: 5%;
    justify-content: center;
    align-items: center;
}

.container-episode-nbr-anime{
    display: flex;
    height: auto;
    width: 33%;
    justify-content: space-around;
    align-items: center;
    font-family: "jojo5";
}

.langue-preferences-container{
    display: flex;
    height: 30%;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.container-langue{
    display: flex;
    height: 100%;
    width: 50%;
    justify-content: space-around;
    align-items: center;
}

.preferences-ref-container{
    display: flex;
    height: auto;
    width: 25%;
}

.fav > button{
    position: absolute;
    display: flex;
    z-index: 8;
    justify-content: center;
    background: rgb(199, 199, 199);
    
    box-shadow: rgb(199, 199, 199) 0px 20px 30px -10px;
    border-radius: 6px;
}

.fav > button:hover{
    position: absolute;
    display: flex;
    z-index: 8;
    justify-content: center;
    background: white;
    border: 2px solid black;
    box-shadow: rgb(255, 255, 255) 0px 20px 30px -10px;
    border-radius: 6px;
}


.to-watch-later > button{
    position: absolute;
    display: flex;
    z-index: 8;
    justify-content: center;
    right: 8%;
    background: rgb(199, 199, 199);
    
    box-shadow: rgb(199, 199, 199) 0px 20px 30px -10px;
    border-radius: 6px;
}

.to-watch-later > button:hover{
    position: absolute;
    display: flex;
    z-index: 8;
    justify-content: center;
    right: 8%;
    background: white;
    border: 2px solid black;
    box-shadow: rgb(255, 255, 255) 0px 20px 30px -10px;
    border-radius: 6px;
}

.login-container{
    display: flex;
    position: relative;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.container-vod-anime{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "jojo7";
    width: 100%;
    height: 100%;
    color: white;
    margin-top: 10%;
    overflow-x: unset;
}

.container-episode-anime{
    display: flex;
    height: auto;
    width: 100%;
    justify-content: space-around;
    flex-direction: row;
    flex-flow: row;
    flex-wrap: wrap;
}

.vod-anime{
    width: auto;
    height: auto;
    flex-direction: column;
}

.vod-cards{
    border-radius: 2px;
    display: inline-block;
    height: 300px;
    margin: 1rem;
    position: relative;
    width: 300px;
}

.card-shadow:hover {
    box-shadow: 0 14px 28px rgba(255, 255, 255, 0.25), 0 10px 10px rgba(255, 255, 255, 0.22);
  }
  
.card-shadow {
    box-shadow: 0 3px 6px rgba(255, 255, 255, 0.16), 0 3px 6px rgba(255, 255, 255, 0.23);
}

@media screen and (max-width: 968px) {
    .vod-anime{
        width: 50%;
    }

    .container-info-anime{
        font-family: "autoradiographic1";
        font-size: 17px;
    }

    .display-ep-anime{
        width: 100%;
        font-size: x-small;
    }

    .container-title-anime{
        height: 17%;
    }

    .container-name-anime{
        font-size: 7px;
    }

    .preferences-ref-container{
        width: 45%;
    }
}