.found{
    display: flex;
    height: 100%;
    width: 100%;
    margin-top: 10%;
    background: transparent
}

.found-container{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.resultat-found{
    display: flex;
    height: auto;
    width: 100%;
    justify-content: center;
}

.found-container-list{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
    overflow-x: hidden;
}

.anime-card{
    display: flex;
    height: auto;
    width: 12%;
    margin: 5px 0 5px 5px;
}

.loading{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.loading-container{
    display: flex;
    height: 100%;
    width: 100%;
    align-self: center;
    justify-content: center;
}

@media screen and (max-width: 968px) {
    .anime-card{
        width: 31%;
    }

    .found-container{
        margin-top: 15%;
    }
}