.dashboard-container{
    display: flex;
    height: 100vh;
    width: 100vw;
    align-items: flex-end;
    justify-content: center;
}

.dashboard{
    display: flex;
    height: 90%;
    width: 100%;
    flex-direction: row;
    background-color: rgb(39, 39, 39);
}

.component-container{
    display: flex;
    height: 100%;
    width: 85%;
    background-color: aquamarine;
}