.dashboard-container{
    display: flex;
    width: 100vw;
    align-items: flex-end;
    justify-content: center;
    background: #161b30;
}

.dashboard{
    display: flex;
    height: 92%;
    width: 100%;
    flex-direction: row;
    background-color: white;
}

.component-container{
    display: flex;
    height: 100%;
    width: 85%;
}