.profile-container{
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
}

.bannière-container{
    display: flex;
    height: 30%;
    width: 100%;
    background-color: cadetblue;
}

.content-container{
    display: flex;
    height: 70%;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: rgb(105, 50, 50);
}

.content{
    display: flex;
    padding: 20px;
    height: 85%;
    width: 90%;
    border-radius: 25px;
    background-color: rgb(22, 22, 22);
}

.paper-container{
    display: flex;
    height: 95%;
    width: 98%;
    flex-direction: row;
    flex-wrap: wrap;
}


.paper-container-content{
    display: flex;
    height: auto;
    width: 100%;
    justify-content: space-around;
    color: black;
    font-family: 'Courier New', Courier, monospace;
}

.info-container{
    display: flex;
    height: 30%;
    width: 100%;
    justify-content: space-around;
}

.bio-container{
    display: flex;
    height: 100%;
    width: 100%;
}

.title-container-bio{
    display: flex;
    height: 100%;
    width: 20%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-bio{
    display: flex;
    height: 100%;
    width: 80%;
    justify-content: center;
    align-items: center;
}

.save-changes{
    display: flex;
    height: auto;
    width: 100%;
    justify-content: flex-end;
}

.title-modify-color-palette{
    display: flex;
    height: 100%;
    width: auto;
}

.color-palette{
    display: flex;
    height: 100%;
    width: auto;
}